/*

      SV OHG CODE BY ALEXANDROS AND MARCO 

*/
.anmeldeformular {
   display: flex;
   width: 100vw;
   margin-top: 50vh;
   height:100vh;
}
.nichtsVerfügbar {
   justify-content: center;
   align-items: center;
   display: flex;
   width: 100vw;
   height: 50vh !important;
   font-family: "Roboto", sans-serif;
   font-weight: 600;
}