/*

      SV OHG CODE BY ALEXANDROS AND MARCO 

*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;500&family=Roboto&display=swap');
.anmeldeformular {
   display: flex;
   width: 100vw;
   height:100vh;
   justify-content: center;
   margin-top: 10%;
}
.nichtsVerfügbar {
   justify-content: center;
   align-items: center;
   display: flex;
   width: 100vw;
   height: 50vh !important;
   font-family: "Roboto", sans-serif;
   font-weight: 600;
   margin-top: 50vh;

}

 .eventNameAusahme {
   display: flex;
   font-family: 'Roboto';
   width: 100%;
   height: auto;
   flex-direction: column-reverse;
 }
 .events1 {
  width: 80%;
  height: 650px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #d3d3d3af;
  color: rgb(24, 24, 24);
  font-family: 'Roboto';
   
 }
 .bearbeiten1 {
  background-image: linear-gradient(92.88deg, #003300dc 9.16%, #054405dc 43.89%, #074e07dc 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  width: 13rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  opacity: 100;
}
 .posLi {
   display: flex;
   width: 100%;
   flex-direction: row;
   gap: 20%;
   align-items: flex-end;
   height: 20%;
 }
 .contentA {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: clamp(1200px, 600px, 250px);
   transform: translateY(-100px);
   height: 1500px;
   padding-bottom: 40px;
 }
 .btnPos {
   display: flex;
   width: 100vw;
   align-items: center;
   justify-content: center;
 }
 .infoIN {
   margin-top: 1%;
   width: 61vw;
   font-family: 'Roboto', sans-serif;
 }
 
@media only screen and (max-width: 500px) {
  
.neinen {
  height: 109vw;
}
}
.coneven1 {
  width: 99.9%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgba(255, 0, 0, 0) 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  color: white;
  background-color: rgb(2, 70, 2);
  font-size: 1.3em;
  
}
.conPos {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_events {
  font-size: 1.3em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.tabelle1 {
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 7%;
  flex-direction: column;
  border-radius: 10px;
}
.abstand {
  height: 50px;
  width: 100vw;
  border: solid 1px rgba(255, 0, 0, 0);
}
.zeit {
  display: flex;
  width: auto;
}
.eventname21 {
  height: 65px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(168, 25, 20, 0.74) 13%, rgba(189, 23, 23, 0.863) 100%);
  color: whitesmoke !important;
  text-decoration: none !important;
  font-weight: 700;
  border-radius: 7px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.eventname1 {
  display: flex;
  width: auto;
  background-color: rgb(2, 70, 2);
  transform: translateY(25px);
  text-decoration: none !important;
  box-shadow: rgba(50, 50, 93, 0.404) 0px 13px 27px -5px, rgba(0, 0, 0, 0.39) 0px 8px 16px -8px;
  color: white !important;
  height: 50px;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 5px;
}
.angabezeit {
  font-weight: 600;
}
.title_tabelle {
  height: 0px;
}
.events1 {
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #d3d3d3af;
  color: rgb(24, 24, 24);
  font-family: 'Roboto';
  opacity: 1;  
}
.contentB {
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #d3d3d3;
  border: solid 2px #7fa3e7;
  border-radius: 3px;
  color: rgb(24, 24, 24);
  font-family: 'Roboto';
}

/*Add Input*/
.addInput {
  background-color: rgb(2, 70, 2);
  color: white;
  font-size: 3vw;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
}
.btnAddIN {
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  margin-top: 5% !important;
  transition: 0.3s ease-in-out !important;
  width: 60vw !important;
}
.conAddInput {
  height: 30vh;
}
 .posConAddInput {
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
.delete {
  top: 10%;
  left: 10vw;
  width: 80vw;
  position: fixed;
  height: 50%;
  background-color: rgb(2, 70, 2);
  color: white;
  z-index: 1000;
  display: flex;
  transition: ease-out 0.1s;
}
.conDelete {
  width: 80vw;
  height: 100%;
}
.backToForm {
  font-size: 3vw ;
  z-index: 1000;  
  margin: 2vw;
}
.INDEL {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  margin-left: 3vw ;
}
.btnDelIn {
  font-size: 3vw;
}
.DelInfo {
  width: 100vw;
  
}
.DelText {
   margin: 0vw 10vw;
   width: 80vw;
}
.searchAI {
  background-color: #003300;
  color: white;
  border: none !important;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  transition:  0.3s ease-in-out;
  font-family: "Poppins";
  font-size: 1.2em;
  font-weight: 700;
}
.searchAI::placeholder {
  color: white;
}

.posEvents {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 200vw;
  gap: 5%;
} 
.alert {
  z-index: 1000;
  background-color: #7fa3e7;
  width: 90% !important;
  top: 10% !important;
  height: auto;
  position: fixed !important;
  color: black;
  border: #024602 2px solid;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 7px;
  padding: 2% 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
}
.alertDel {
  padding-left: 20px;
  padding-right: 50px;
}

.alertDelete {
  position: absolute;
  width: 100% !important;
  font-size: 30px;
  right: 0%;
  z-index: 1000;

}



.lineAlert {
  /* height: 5% !important;
  width: 100% !important;
  background-color: white !important;
  bottom: 0% !important;
  left: 0% !important;
  position: absolute;
  animation-name: lineDelete  ; 
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out; 
  animation-fill-mode: forwards;  */
}
  
@keyframes lineDelete {
  from {
    width: 100% !important;
  }
  to {
    width: 0% !important;
  }
}

.posEvents {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 200vw;
  gap: 5%;
} 
.EditEvent {
  height: 10%;
}
.coneven2 {
  width: 99.9%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgba(255, 0, 0, 0) 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  color: white;
  background-color: rgb(2, 70, 2);
  font-size: 1.3em;
}

@media only screen and (max-width: 800px) {
  .events1 {
    font-size: 20px;
    height: 700px !important;
  }
  
  .contentB {
    width: 80vw;
    height: 1250px !important;
  }  
  .tabelle1 {
    font-size: 15px;
  }
  .addInput {
    font-size: 6vw;
    width: 7vw;
  }
  .alert {
    top: 12% !important;
  }
  .alertDel {
    padding-left: 90%;
    padding-right: 50px;
    z-index: 1000;
  }
}
@media only screen and (min-width: 1200px) {
  .posLi {
    height: 40%;
  }
}
@media only screen and (max-width: 450px) {
  .events1 {
    font-size: 15px;
  }
  .contentB {
    width: 80vw;
    height: 1250px !important;
    margin-bottom: 500px !important;
  }
}
@media only screen and (min-width: 1000px)
 {
  .tabelle1 {
    font-size: 20px;
  }
  .eventname1 {
    font-size: 20px;
    width: 250px;
    height: 70px;
    transform: translateY(50px) !important;
  }
  .events1 {
    height: 700px !important;
    transform: translateY(-50px);
  }
  .contentB {
    height: 150vh !important;
  }
 }
 @media only screen and (min-width: 1200px) {
  .contentB {
    height: 73vw !important;
  }
 }

.loadofinputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}